
<div class="p-8 sm:ml-64">
  <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
    <li class="me-2">
      <a
        href="#"
        _="on click show #tab_0 hide #tab_1 hide #tab_2"
        aria-current="page"
        class="inline-block p-4 rounded-t-lg text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500"
        >Dein Text</a>
    </li>
    <li class="me-2">
      <a
        href="#"
        _="on click show #tab_1 hide #tab_0 hide #tab_2"
        class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"
        >Analyse</a>
    </li>
    <li class="me-2">
      <a
        href="#"
        _="on click show #tab_2 hide #tab_0 hide #tab_1"
        class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"
        >Text-Verständnis</a>
    </li>
  </ul>
</div>
