

<div class="p-8">
  <div id="tab_0" class="border rounded-xl">
    <div class="p-8 bg-transparent">
      <textarea
        _="on paste wait 500ms userInput(my value) end
                              on input userInput(my value) end"
        id="yourtext"
        maxlength="2000"
        rows="25"
        cols="45"
        class="px-0 text-md text-gray-900 bg-white border-0 focus:outline-none"
        placeholder="Schreibe/kopiere hier deinen Text..."
        required
      ></textarea>
    </div>
    <div class="p-4">
      <label id="usertext_words" for="usertext" class="text-green-700">0</label><label> von max. 2000 Buchstaben verwendet.</label>
    </div>
  </div>
</div>
